<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Basic Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../themes/default/easyui.css"/>  
    <link rel="stylesheet" type="text/css" href="../themes/icon.css"/>  

	<script type="text/javascript" src="../resources/scripts/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="../resources/scripts/jquery.easyui.min.js"></script>
</head>
<body>
<!-- 	<div class="easyui-layout" style="width:700px;height:350px;right: auto;left: auto;margin:0 auto"> -->
<!-- 		<div data-options="region:'north'" style="height:50px"></div> -->
<!-- 		<div data-options="region:'south',split:true" style="height:50px;"></div> -->
<!-- 		<div data-options="region:'east',split:true" title="East" style="width:180px;"></div> -->
<!-- 		<div data-options="region:'west',split:true" title="West" style="width:100px;"></div> -->
<!-- 		<div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'"> -->
<!-- 			<table class="easyui-datagrid" -->
<!-- 					data-options="url:'../json/datagrid_data1.json',border:false,singleSelect:true,fit:true,fitColumns:true"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th data-options="field:'itemid'" width="80">Item ID</th> -->
<!-- 						<th data-options="field:'productid'" width="100">Product ID</th> -->
<!-- 						<th data-options="field:'listprice',align:'right'" width="80">List Price</th> -->
<!-- 						<th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th> -->
<!-- 						<th data-options="field:'attr'" width="150">Attribute</th> -->
<!-- 						<th data-options="field:'status',align:'center'" width="50">Status</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 			</table> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div id="ttt" class="easyui-tabs" data-options="tools:'#tab-tools'"
		style="width: 500px; height: 250"></div>
	<div id="tab-tools">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			data-options="plain:true,iconCls:'icon-add'" onclick="add()"></a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			data-options="plain:true,iconCls:'icon-remove'" onclick="remove()"></a>
	</div>
	<script type="text/javascript">  
        var index = 0;  
        function add(){  
            index++;  
            $('#ttt').tabs('add',{  
                title: 'Tab'+index,  
                content: '<div style="padding:10px">Content'+index+'</div>',  
                closable: true  
            });  
        }  
        function remove(){  
            var tab = $('#ttt').tabs('getSelected');  
            if (tab){  
                var index = $('#ttt').tabs('getTabIndex', tab);  
                $('#ttt').tabs('close', index);  
            }  
        }  

    </script>
</body>
</html>